@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Căn chỉnh toàn bộ trang đăng nhập admin */
.admin-container {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

* {
    box-sizing: border-box;
}

/* Hộp chứa form đăng nhập */
.admin-main {
    background: #f6f6f6;
    display: grid;
    grid-template-columns: 45% 55%;
    place-items: center;
    width: 700px;
    border-radius: 20px;
    font-family: "Quicksand";
}

.admin-image {
    width: 100%; /* Ảnh lấp đầy div */
    height: 100%;
    object-fit: cover; /* Giữ tỉ lệ ảnh đẹp */
    border-radius: 20px 0 0 20px;
}

/* Phần hình ảnh */
.admin-left-side {
    height: 100%;
    width: 100%;
    /* background-image: url('../../assets/image/bear-bg.jpg') */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    border-radius: 20px 0 0 20px;
}

/* Phần form đăng nhập */
.admin-right-side {
    padding: 60px;
}

/* Nhóm nút đăng nhập */
.admin-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 32px;
}

/* Nút đăng nhập */
.admin-btn {
    background-color: #f6f6f6;
    border: 2px solid #6b7280;
    border-radius: 5px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: max-content;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 8px 6px;
    transform: scale(1);
    cursor: pointer;
}

.admin-btn:focus {
    transform: scale(0.97);
}

.admin-btn:hover {
    background-color: #000;
    color: #eee;
}

/* Hộp nhập thông tin */
.admin-input {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    outline: 0;
    border-radius: 5px;
    background-color: transparent;
    margin: 4px 0 18px;
    font-size: 0.85rem;
    font-weight: 600;
    transition: all 0.5s;
}

.admin-input:focus {
    border: 2px solid #000;
}

/* Nút đăng nhập */
.admin-login-btn {
    width: 100%;
    background-color: #f6f6f6;
    border: 2px solid #6b7280;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.admin-login-btn:hover {
    background-color: #000;
    color: #eee;
}

/* Link điều hướng */
.admin-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin-links a {
    color: #000;
    font-size: 0.88rem;
    font-weight: 600;
    letter-spacing: -1px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.admin-links a:hover {
    color: #0d85b9;
}
