@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.login-user {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.containers {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
}

button {
    background-color: #13d420;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #add9ef;
}

.toggle-text {
    font-size: 14px;
    cursor: pointer;
    color: #333;
    text-align: center;
}

.toggle-text span {
    color: #13d420;
    font-weight: bold;
}
    