/* Tiêu đề */
h1 {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #1a6cef;
    margin-bottom: 20px;
    text-transform: capitalize;
}

/* Thêm vào file CSS của bạn */
.card {
    margin: 20px auto;
    /* Điều chỉnh khoảng cách */
    padding: 20px;
    /* Điều chỉnh padding */
}

/* Hoặc sử dụng media query để điều chỉnh trên các kích thước màn hình cụ thể */
@media (max-width: 768px) {
    .card {
        margin: 10px auto;
    }
}